@model BlackStoneMovies.Models.Show

@{
    ViewBag.Title = "AddShow";
}

<h2>AddShow</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Show</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="control-label col-md-2">Show Price</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">Morning Show</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.MShow, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MShow, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">Afternoon Show</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.AShow, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AShow, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class = "control-label col-md-2">Evening Show</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.EShow, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EShow, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">Movie Day</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mday, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Mday, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 my-4">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Allmovies", "AllMovies")
</div>
