@model IEnumerable<BlackStoneMovies.Models.Movy>

@{
    ViewBag.Title = "AllMovies";
}

<h2>AllMovies</h2>

<p>
    @Html.ActionLink("Add Movie", "AddMovies")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MDirector)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MProducer)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MDirector)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MProducer)
        </td>
        <td>
            @Html.ActionLink("Edit", "UpdateMovie", new { id=item.MId }) |
            @Html.ActionLink("Shows", "AllShows", new { id=item.MId }) |
            @Html.ActionLink("Delete", "DeleteMovie", new { id=item.MId })
        </td>
    </tr>
}

</table>
