@model BlackStoneMovies.Models.Movy

@{
    ViewBag.Title = "DeleteMovie";
}

<h2>DeleteMovie</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal mx-lg-5">
        <dt>
            Movie Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MName)
        </dd>

        <dt>
            Movie Director
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MDirector)
        </dd>

        <dt>
           Movie Producer
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MProducer)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to All Movies", "AllMovies")
        </div>
    }
</div>
